In [1]:
import numpy as np
import pandas as pd

In [2]:
stm_oct_df = pd.read_csv('x_train_2.csv',encoding='utf-8')


type(stm_oct_df)



stm_oct_df.head(20)


stm_oct_df.info

<bound method DataFrame.info of           ทำ    ประกัน        พอ      ช่อง      จริง      กลับ    ติดต่อ  \
0   0.034197  0.015000  0.031495  0.048122  0.000000  0.000000  0.000000
1   0.006080  0.005333  0.000000  0.000000  0.014737  0.034220  0.012079
2   0.000000  0.003780  0.000000  0.000000  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5   0.010573  0.016232  0.000000  0.000000  0.000000  0.000000  0.000000
6   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.027876
7   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
11  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
12  0.004023  0.010588  0.007410  0.000000  0.000000  0.000000  0.007994
13  0.030398  0.000000  0.000000  0.000000  0.000000  0.028517  0.000000
14  0.000000  0.000000  0.000000  0.000000  0.018681  0.000000  0.000000
15  0.000000  0.040001  0.000000  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.030000  0.000000  0.000000  0.000000  0.000000  0.000000
17  0.011399  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
18  0.000000  0.015000  0.000000  0.000000  0.000000  0.000000  0.000000
19  0.000000  0.007680  0.008063  0.000000  0.000000  0.000000  0.000000
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.010324  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.013334  0.000000  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.000000  0.073329  0.000000  0.000000  0.000000
24  0.003800  0.006667  0.000000  0.000000  0.000000  0.000000  0.000000
25  0.027358  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
26  0.000000  0.040001  0.000000  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.001616  0.000000  0.000000  0.004466  0.000000  0.000000
28  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29  0.009599  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
30  0.005417  0.009505  0.000000  0.000000  0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
32  0.012159  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
33  0.018239  0.016000  0.000000  0.000000  0.000000  0.000000  0.000000
34  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
35  0.002338  0.002051  0.004307  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.013334  0.000000  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
38  0.054716  0.048001  0.000000  0.000000  0.000000  0.000000  0.000000
39  0.005947  0.020870  0.000000  0.000000  0.000000  0.000000  0.000000
40  0.019541  0.017143  0.000000  0.000000  0.000000  0.000000  0.000000
41  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
42  0.000000  0.006316  0.000000  0.000000  0.000000  0.000000  0.014305
43  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
44  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
45  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
46  0.018548  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
47  0.000000  0.000000  0.000000  0.000000  0.027632  0.000000  0.000000
48  0.000000  0.021818  0.000000  0.000000  0.000000  0.000000  0.049416
49  0.000000  0.068572  0.000000  0.000000  0.000000  0.000000  0.000000

    ธุรกรรม       เอา    เอกสาร      ...       เลิก  เสียใจ  ดูด  ฟรี  \
0   0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
1   0.01902  0.009349  0.015768      ...        0.0     0.0  0.0  0.0
2   0.00000  0.003313  0.000000      ...        0.0     0.0  0.0  0.0
3   0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
4   0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
5   0.00000  0.004065  0.000000      ...        0.0     0.0  0.0  0.0
6   0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
7   0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
8   0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
9   0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
10  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
11  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
12  0.00000  0.006187  0.000000      ...        0.0     0.0  0.0  0.0
13  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
14  0.00000  0.000000  0.039975      ...        0.0     0.0  0.0  0.0
15  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
16  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
17  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
18  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
19  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
20  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
21  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
22  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
23  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
24  0.00000  0.005843  0.000000      ...        0.0     0.0  0.0  0.0
25  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
26  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
27  0.00000  0.002833  0.004778      ...        0.0     0.0  0.0  0.0
28  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
29  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
30  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
31  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
32  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
33  0.00000  0.028048  0.000000      ...        0.0     0.0  0.0  0.0
34  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
35  0.00000  0.017979  0.000000      ...        0.0     0.0  0.0  0.0
36  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
37  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
38  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
39  0.00000  0.004573  0.000000      ...        0.0     0.0  0.0  0.0
40  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
41  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
42  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
43  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
44  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
45  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
46  0.00000  0.014262  0.000000      ...        0.0     0.0  0.0  0.0
47  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
48  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0
49  0.00000  0.000000  0.000000      ...        0.0     0.0  0.0  0.0

    ค่าธรรมเนียม  ภาระ  ธุรกิจ  ล่มจม  เร็ว  Unnamed: 297
0            0.0   0.0     0.0    0.0   0.0           NaN
1            0.0   0.0     0.0    0.0   0.0           NaN
2            0.0   0.0     0.0    0.0   0.0           NaN
3            0.0   0.0     0.0    0.0   0.0           NaN
4            0.0   0.0     0.0    0.0   0.0           NaN
5            0.0   0.0     0.0    0.0   0.0           NaN
6            0.0   0.0     0.0    0.0   0.0           NaN
7            0.0   0.0     0.0    0.0   0.0           NaN
8            0.0   0.0     0.0    0.0   0.0           NaN
9            0.0   0.0     0.0    0.0   0.0           NaN
10           0.0   0.0     0.0    0.0   0.0           NaN
11           0.0   0.0     0.0    0.0   0.0           NaN
12           0.0   0.0     0.0    0.0   0.0           NaN
13           0.0   0.0     0.0    0.0   0.0           NaN
14           0.0   0.0     0.0    0.0   0.0           NaN
15           0.0   0.0     0.0    0.0   0.0           NaN
16           0.0   0.0     0.0    0.0   0.0           NaN
17           0.0   0.0     0.0    0.0   0.0           NaN
18           0.0   0.0     0.0    0.0   0.0           NaN
19           0.0   0.0     0.0    0.0   0.0           NaN
20           0.0   0.0     0.0    0.0   0.0           NaN
21           0.0   0.0     0.0    0.0   0.0           NaN
22           0.0   0.0     0.0    0.0   0.0           NaN
23           0.0   0.0     0.0    0.0   0.0           NaN
24           0.0   0.0     0.0    0.0   0.0           NaN
25           0.0   0.0     0.0    0.0   0.0           NaN
26           0.0   0.0     0.0    0.0   0.0           NaN
27           0.0   0.0     0.0    0.0   0.0           NaN
28           0.0   0.0     0.0    0.0   0.0           NaN
29           0.0   0.0     0.0    0.0   0.0           NaN
30           0.0   0.0     0.0    0.0   0.0           NaN
31           0.0   0.0     0.0    0.0   0.0           NaN
32           0.0   0.0     0.0    0.0   0.0           NaN
33           0.0   0.0     0.0    0.0   0.0           NaN
34           0.0   0.0     0.0    0.0   0.0           NaN
35           0.0   0.0     0.0    0.0   0.0           NaN
36           0.0   0.0     0.0    0.0   0.0           NaN
37           0.0   0.0     0.0    0.0   0.0           NaN
38           0.0   0.0     0.0    0.0   0.0           NaN
39           0.0   0.0     0.0    0.0   0.0           NaN
40           0.0   0.0     0.0    0.0   0.0           NaN
41           0.0   0.0     0.0    0.0   0.0           NaN
42           0.0   0.0     0.0    0.0   0.0           NaN
43           0.0   0.0     0.0    0.0   0.0           NaN
44           0.0   0.0     0.0    0.0   0.0           NaN
45           0.0   0.0     0.0    0.0   0.0           NaN
46           0.0   0.0     0.0    0.0   0.0           NaN
47           0.0   0.0     0.0    0.0   0.0           NaN
48           0.0   0.0     0.0    0.0   0.0           NaN
49           0.0   0.0     0.0    0.0   0.0           NaN

[50 rows x 298 columns]>

In [3]:
stm_oct_df.head(5)

,ทำ,ประกัน,พอ,ช่อง,จริง,กลับ,ติดต่อ,ธุรกรรม,เอา,เอกสาร,...,เลิก,เสียใจ,ดูด,ฟรี,ค่าธรรมเนียม,ภาระ,ธุรกิจ,ล่มจม,เร็ว,Unnamed: 297
0,0.034197,0.015000,0.031495,0.048122,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,0.006080,0.005333,0.000000,0.000000,0.014737,0.03422,0.012079,0.01902,0.009349,0.015768,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,0.000000,0.003780,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.003313,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [4]:
stm_oct_df.head(5)

,ทำ,ประกัน,พอ,ช่อง,จริง,กลับ,ติดต่อ,ธุรกรรม,เอา,เอกสาร,...,เลิก,เสียใจ,ดูด,ฟรี,ค่าธรรมเนียม,ภาระ,ธุรกิจ,ล่มจม,เร็ว,Unnamed: 297
0,0.034197,0.015000,0.031495,0.048122,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,0.006080,0.005333,0.000000,0.000000,0.014737,0.03422,0.012079,0.01902,0.009349,0.015768,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,0.000000,0.003780,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.003313,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
stm_oct_df.tail(5)

,ทำ,ประกัน,พอ,ช่อง,จริง,กลับ,ติดต่อ,ธุรกรรม,เอา,เอกสาร,...,เลิก,เสียใจ,ดูด,ฟรี,ค่าธรรมเนียม,ภาระ,ธุรกิจ,ล่มจม,เร็ว,Unnamed: 297
45,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
46,0.018548,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.014262,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
47,0.000000,0.000000,0.0,0.0,0.027632,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
48,0.000000,0.021818,0.0,0.0,0.000000,0.0,0.049416,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
49,0.000000,0.068572,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [20]:
stm_oct_df.isnull().sum()

ทำ               0
ประกัน           0
พอ               0
ช่อง             0
จริง             0
กลับ             0
ติดต่อ           0
ธุรกรรม          0
เอา              0
เอกสาร           0
ข้อมูล           0
จรรยาบรรณ        0
AIA              0
ตอบ              0
ลอง              0
ศึกษา            0
ตัวแทน           0
อนุญาต           0
ขาย              0
สินค้า           0
ดู               0
น้อย             0
รู้              0
เรื่อง           0
ลงทุน            0
กองทุน           0
สามารถ           0
แนะนำ            0
กำหนด            0
ระยะ             0
                ..
ไว้ใจ            0
อย่า             0
คุ้ม             0
รบกวน            0
พ่อ              0
เชื่อ            0
เหตุผล           0
กระทู้           0
นายหน้า          0
ข้อแม้           0
สั้น             0
งบประมาณ         0
ประวัติ          0
กฎหมาย           0
ยุ่ง             0
สงสัย            0
พลาด             0
สำคัญ            0
สวัสดิการ        0
กลุ่ม            0
เลิก             0
เสียใจ           0
ดูด              0
ฟรี              0
ค่าธรรมเนียม     0
ภาระ             0
ธุรกิจ           0
ล่มจม            0
เร็ว             0
Unnamed: 297    50
dtype: int64

In [34]:
stm_oct_df.drop()

TypeError: drop() missing 1 required positional argument: 'labels'

In [29]:
stm_oct_df.ใช่

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.009752
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    0.000000
23    0.000000
24    0.000000
25    0.000000
26    0.000000
27    0.000000
28    0.000000
29    0.000000
30    0.000000
31    0.000000
32    0.000000
33    0.000000
34    0.000000
35    0.000000
36    0.000000
37    0.000000
38    0.000000
39    0.000000
40    0.000000
41    0.000000
42    0.000000
43    0.000000
44    0.000000
45    0.000000
46    0.000000
47    0.000000
48    0.000000
49    0.000000
Name: ใช่, dtype: float64

In [30]:
stm_oct_df['Unnamed: 297']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30   NaN
31   NaN
32   NaN
33   NaN
34   NaN
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN
40   NaN
41   NaN
42   NaN
43   NaN
44   NaN
45   NaN
46   NaN
47   NaN
48   NaN
49   NaN
Name: Unnamed: 297, dtype: float64

In [41]:
stm_oct_df.drop(stm_oct_df['Unnamed: 297'],axis=1).dropna().shape

ValueError: labels [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan] not contained in axis

In [37]:
stm_label_df = pd.read_csv('y_train.csv',encoding='utf-8')

In [7]:
stm_label_df.head(5)

   negative
0  negative
1  positive
2  positive
3  positive
4  positive

In [8]:
stm_label_df = pd.read_csv('y_train.csv',encoding='utf-8',header=None)

In [9]:
stm_label_df.head(5)

          0
0  negative
1  negative
2  positive
3  positive
4  positive

In [10]:
X = stm_oct_df.values

In [11]:
print(X)

[[ 0.034197  0.015     0.031495 ...,  0.        0.             nan]
 [ 0.00608   0.005333  0.       ...,  0.        0.             nan]
 [ 0.        0.00378   0.       ...,  0.        0.             nan]
 ...,
 [ 0.        0.        0.       ...,  0.        0.             nan]
 [ 0.        0.021818  0.       ...,  0.        0.             nan]
 [ 0.        0.068572  0.       ...,  0.        0.             nan]]

In [12]:
y = stm_label_df.values.ravel()

In [13]:
print(y)

['negative' 'negative' 'positive' 'positive' 'positive' 'positive'
 'positive' 'positive' 'positive' 'positive' 'negative' 'negative'
 'positive' 'negative' 'negative' 'negative' 'negative' 'positive'
 'negative' 'positive' 'positive' 'negative' 'negative' 'negative'
 'positive' 'negative' 'positive' 'negative' 'negative' 'negative'
 'positive' 'negative' 'positive' 'negative' 'positive' 'positive'
 'positive' 'negative' 'negative' 'positive' 'positive' 'negative'
 'positive' 'negative' 'positive' 'negative' 'positive' 'negative'
 'positive' 'negative']

In [14]:
#import 
from sklearn import preprocessing

In [15]:
#instantiate
X_scaled = preprocessing.scale(stm_oct_df.values)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
print(X_scaled)

In [ ]:
X_normalized = preprocessing.normalize(stm_oct_df, norm='l1')

In [ ]:
print(X_normalized)

In [ ]:
normalizer = preprocessing.Normalizer().fit(stm_oct_df)

In [ ]:
X

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer
tf_transformer = TfidfTransformer(use_idf=False).fit(X_normalized)

In [ ]:
type(tf_transformer)

In [ ]:
X_train_tf = tf_transformer.transform(stm_oct_df)

In [ ]:
X_train_tf.shape

In [ ]:
X_test = pd.read_csv('x_test_2.csv',encoding='utf-8')

In [ ]:
X_test.shape

In [ ]:
X_test.values

In [ ]:
X_feature_test = X_test.values

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
k_range = list(range(1,31))

In [ ]:
param_grid = dict(n_neighbors=k_range)
print(param_grid)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
X = X_normalized
y = stm_label_df.values.ravel()

In [ ]:
knn = 
grid = GridSearchCV(knn,param_grid,cv=10,scoring='accuracy')
grid.fit(X,y)
grid.grid_scores_

In [ ]:
grid_mean_scores = []
for result in grid.grid_scores_ :
    grid_mean_scores.append(result.mean_validation_score)

In [ ]:
grid_mean_scores = [result.mean_validation_score for result in grid.grid_scores_]
print(grid_mean_scores)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
plt.plot(k_range,grid_mean_scores)
plt.xlabel('Values of K for KNN')
plt.ylabel('Cross-Validation Accuracy')

In [ ]:
print(grid.best_score_)
print(grid.best_params_)
print(grid.best_estimator_)

In [ ]:
# instantiate
n_neighbors = 3
clf_model2 = KNeighborsClassifier(n_neighbors,'uniform')

In [ ]:
# fit
clf_model2.fit(X_normalized,stm_label_df.values.ravel())

In [ ]:
print(clf_model2.predict(X_test))

In [ ]:
x_pred_class2 = clf_model2.predict(X_test)

In [ ]:
from sklearn import metrics

print(metrics.accuracy_score(stm_label_df.values.ravel(), x_pred_class2))

In [ ]:
print(metrics.confusion_matrix(stm_label_df.values.ravel(), x_pred_class2))

In [ ]:
print(metrics.recall_score(stm_label_df.values.ravel(), x_pred_class2))

In [ ]:
confusion = metrics.confusion_matrix(stm_label_df.values.ravel(), x_pred_class2)
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]

In [ ]:
print(TP / float(TP + FP))
print(metrics.precision_score(stm_label_df.values.ravel(), x_pred_class2))

In [ ]:
from sklearn.cross_validation import cross_val_score

clf = KNeighborsClassifier()
scores = cross_val_score(clf, X_normalized, stm_label_df.values.ravel(), cv=10, scoring='accuracy')
print(scores)